{% extends "base.html" %}
{% block title %}장고 게시글 저장소{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}
    <!--div#content 내부로 전체 콘텐츠 이동-->
    <div id="content">
        <h1 class="centered">{% now "Y년 m월 d일" %}까지 게시글 모음</h1>
        <ul class="centered">
            {% for date in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">
                        {{ date|date:"Y" }}년
                    </a>
                </li>&nbsp;&nbsp;
            {% endfor %}
        </ul>
        <br/>
        <div class="leftpadding30percent">
            <ul>
                {% for post in object_list %}
                    <li>
                        {{ post.modify_date|date:"Y-m-d" }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}">
                            <strong>{{ post.title }}</strong>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
