{% extends "base.html" %}
{% block title %}장고 게시글 보기{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}
    <!--div#content 내부로 전체 콘텐츠 이동-->
    <div id="content" class="centered">

        <p class="other_posts">
            {% if object.get_previous_by_modify_date %}
                <a href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">
                    &laquo;-- {{ object.get_previous_post }}
                </a>
            {% endif %}

            {% if object.get_next_by_modify_date %}
                &nbsp; |
                <a href="{{ object.get_next_post.get_absolute_url }}" title="View next post">
                    {{ object.get_next_post }} --&raquo;
                </a>
            {% endif %}
        </p>
        <table id="tbl" >
            <tr>
                <th>구분</th>
                <th>내용</th>
            </tr>
            <tr>
                <td> 제목 </td>
                <td> <h2>{{ object.title }}</h2></td>
            </tr>
            <tr>
                <td> 슬러그 </td>
                <td>{{ object.slug }} </td>
            </tr>
            <tr>
                <td> 한줄 요약 </td>
                <td> {{ object.description }}</td>
            </tr>
            <tr>
                <td> 내용 </td>
                <td> {{ object.content|linebreaks }} </td>
            </tr>
            <tr>
                <td>최초 등록일시 </td>
                <td> {{ object.create_date|date:"Y년 m월 d일" }}</td>
            </tr>
            <tr>
                <td>최근 수정일시 </td>
                <td> {{ object.modify_date|date:"Y년 m월 d일" }} </td>
            </tr>
            {% load tagging_tags %}
          <!--tags_for_object 커스텀 태그를 사용하여 object 객체에 지정된 태그 리스트를 추출하여-->
          <!--tags 템플릿 변수에 저장, 여기서 object 객체는 PostDV 뷰에서 전달받는 컨텍스트 변수로서,-->
          <!--특정 Post 객체가 저장되어 있음-->
           {% tags_for_object object as tags %}
              <tr> <!--게시글마다 지정된 태그를 출력-->
                  <td>태그</td>
                  <td>
                      {% for tag in tags %}
                          <a href="{% url 'blog:tagged_object_list' tag.name %}">
                            {{tag.name}}&nbsp;&nbsp;
                          </a>
                      {% endfor %}
                  </td>
              </tr>
              <tr> <!--게시판에 지정된 태그 클라우드를 출력-->
                  <td>태그 클라우드</td>
                  <td>
                      <embed type="text/html" src="{% url 'blog:tag_cloud' %}">
                  </td>
              </tr>
        </table>
        <br/>                           <!-- ch08 1/5  -->
        <div>                           <!-- ch08 2/5  -->
            {% load disqus_tags %}      <!-- ch08 3/5  -->
            {% disqus_show_comments %}  <!-- ch08 4/5  -->
        </div>                          <!-- ch08 5/5  -->
        <div class="body">

        </div>
    </div>
{% endblock %}}
