{% extends "base.html" %}
{% block title %}장고 게시글 목록{% endblock %}
{% load staticfiles %}
{% block extrastyle %}{% static "css/tabular.css" %}{% endblock %}
{% block content %}

      <!--div#content 내부로 전체 콘텐츠 이동-->
      <div id="content">
          <h1>블로그 목록 (표 형식)</h1>
          <table id="tbl">
              <tr>
                  <th>번호</th>
                  <th>최종 수정일</th>
                  <th>제목</th>
                  <th>슬러그</th>
                  <th>요약</th>
              </tr>
              {% for post in posts %}
              <tr>
                  <td>{{ post.id }}</td>
                  <td>{{ post.modify_date }}</td>
                  <td><a href='{{ post.get_absolute_url }}'>{{ post.title }}</a></td>
                  <td>{{ post.slug }}</td>
                  <!--<td><p>{{ post.description }}</p></td>-->
                  <td>{{ post.description }}</td>
              </tr>
              {% endfor %}
          </table>
           <br/>
           <div class="centered"> <!--div 요소는 블록 요소-->
              <span>  <!--span 요소는 인라인 요소-->
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">이전 페이지</a>
                  {% endif %}

                  {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}

                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">다음 페이지</a>
                  {% endif %}
              </span>
          </div>
      </div>

{% endblock %}


